.body{
    
}

.card {
    width: 78%;
    height: auto;
    background-color: rgb(226, 200, 200);
    margin-left: 100px;
    border-radius: 7px;
    padding: 5px 30px;
    margin-top: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}